body {
	background: #DCDCDC;
}

.modal_content {
	display: flex;
	flex-direction: column;

	width: 670px;
	height: 700px;

	background: red;
}


.component_row {
	margin-top: 30px;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	background: transparent;
	width: 700px;
}

.component_row *:first-child {
	flex: 5;
}

.component_row *:not(:first-child) {
	flex: 2;
}


.component_row * {
	background: transparent;
}

.component_row *:not(:last-child) {
	margin-right: 10px;
}

.input_component.percentage:focus ~ .input_suffix:before,
.input_component.percentage:valid ~ .input_suffix:before {
	color: black;
}

.input_wrapper {
	position: relative;
}

.input_suffix.percentage {
	position: absolute;
	left: 80%;
	bottom: 88%;
}
.input_suffix.percentage:before {
	content: '%';
	position: absolute;
	color: transparent;

	transition: color 0.2s;
}

.input_component {
	border-style: solid;
	border-width: 2px;
	border-color: #67647E;
	border-radius: 5px;
	width: 100%;
	height: 38px;
}

.input_component.name {
	padding-left: 17px;
}
.input_component:not(.name) {
	text-align: center;
}


input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input_component.letter {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input_component.letter >:first-child {
	display: none;
} 

.placeholder {
	position: relative;
	z-index: 1;
	top: -50%;
	pointer-events: none;
	font-size: 0.9em;

	background: #DCDCDC;

	transition: 0.2s;
	display: inline-block;

	padding-left: 3px;
	padding-right: 3px;

	text-align: center;
}

.placeholder.name {
	left: 5%;
}

.placeholder:not(.name):not(.numerical_result) {
	left: 17%;
}

.placeholder.numerical_result {
	left: 3%;
}

.input_component:focus ~ .placeholder,
.input_component:not(:focus):valid ~ .placeholder
 {
	font-size: 0.75em;
}

.input_component:focus ~ .placeholder,
.input_component:not(:focus):valid ~ .placeholder {
	top: -80%;
}

.input_component:not(.numerical_result):not(.name):focus ~ .placeholder,
.input_component:not(.numerical_result):not(.name):not(:focus):valid ~ .placeholder
 {
	left: 12%;
}

.input_component.numerical_result:focus ~ .placeholder,
.input_component.numerical_result:not(:focus):valid ~ .placeholder {
	left: 9%;
}