body {
	background: #DCDCDC;
}

.component_row {
	margin-top: 30px;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	background: transparent;
	width: 700px;
}

.component_row *:first-child {
	flex: 5;
}

.component_row *:not(:first-child) {
	flex: 2;
}


.component_row * {
	background: transparent;
}

.component_row *:not(:last-child) {
	margin-right: 10px;
}

.input_component {
	border-style: solid;
	border-width: 2px;
	border-color: #67647E;
	border-radius: 5px;
	width: 100%;
	height: 38px;
}

.input_component:not(.name) {
	text-align: center;
}


input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input_component.letter {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.placeholder {
	position: relative;
	z-index: 1;
	top: -50%;
	pointer-events: none;
	font-size: 0.9em;
}

.placeholder.name {
	left: 5%;
}

.placeholder:not(.name):not(.numerical_result) {
	left: 20%;
}

.placeholder.numerical_result {
	left: 5%;
}