html, body {
  margin: 0;
  padding: 0;
}

.icon-container{
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
  display: flex;
  align-items: baseline;
}

.left-icon{
  height: auto;
  background-color: #FAFAFA;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.right-icon{
  float: right;
}


.icon{
  position: inherit;
  width: 33.39px;
  height: 33.39px;
  left: 181.64px;
  top: 341.83px;
  display: flex;
  border-radius: 4px;
  margin: auto;
}

.square{
  position: inherit;
  width: 55.8px;
  height: 55.8px;
  left: 170.3px;
  top: 333.2px;
  display: flex;
  background: #663C67;
  border-radius: 3.62799px;
  margin: 15px;
}
