/* Done so that layout occupies the whole height of page */
html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "IBM Plex Sans";
}


.grid-container {
	height: 100%;

	display: grid;
	grid-template-columns: repeat(6, minmax(30px, 1fr));
	grid-template-rows: repeat(12, 120px) minmax(min-content, max-content) 250px;

}

.grid-container > * {
	padding: 15px 30px 0px 30px;
}

.grid-center-item {
	grid-column: 1 / span 6;
}

.index-header {
	grid-row: 1 / span 6;
}

.assessment-panel {
	grid-row: 6 / span 5;
	border: solid 2px green;
}


.site-card-container {
	grid-row: 10 / span 10;
	border: solid 2px blue;
}

.index-footer {
	grid-row: 11 / span 11;
	border: solid 2px yellow;
} 

.index-header, .index-footer {
	background: #8ECDCB;
}

.header-label-container {
  display: flex;
  flex-direction: row;
}

.header-label-container::before {
  content: '';
  display: block;
  background: url("comsat-icon.svg");
  width: 31px;
  height: 31px;
}

.index-header {
  align-items: center;
}

.section-label {
	font-weight: bold;
	margin-bottom: 30px;
}

.section-content::before {
	display: block;
	font-weight: bold;
	font-size: 1.35em;
}

.header-graphic {
	width: 475px;
}

.section-content.header::before {
	content: "Grade Calculator";
}

.section-content.footer::before {
	content: "About Grade Calculator";
}

.header-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.footer-content-container {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
}

.footer-minor-content-container {
  display: flex;
  flex-direction: row;
}

.section-content.guides::before {
  content: "Guides";
}

.section-content.more-guides::before {
  content: "More Guides";
}

ul.section-content {
  list-style-type: none;
  padding: 0px;
}

.footer-minor-content-container > * {
  margin-right: 50%;
}

.soc-med-row > img {
	width: 30px;
}

.footer-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.copyright-info {
	display: none;
}

@media screen and (min-width: 768px) {
	.grid-container {
		grid-template-columns: minmax(5%, 10%) repeat(6, minmax(150px, 1fr)) minmax(5%, 10%);
		grid-template-rows: repeat(22, 113px);
	}

	.grid-center-item {
		grid-column: 2 / span 6;
	}

	.index-header {
		grid-row: 1 / span 4;
	}

	.assessment-panel {
		grid-row: 3 / span 6;
	}

	.site-card-container {
		grid-row: 9 / span 3;
	}

	.index-footer {
		grid-row: 12 / span 4;
	}

	.header-content-container {
		flex-direction: row;

		/* Default value */
		align-items: stretch;
	}

	.header-graphic {
		height: 300px;
		width: 300px;
		margin-top: -35px;
	}

	/* Multiline text truncating pulled 
	from this answer https://stackoverflow.com/a/19289287/11947966 */
	.section-content.footer {
		flex: 1;
		height: 250px;
		margin-right: 20%;
		display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	.footer-content-container {
		flex-direction: row;
	}

	.footer-minor-content-container {
		flex: 2;
	}

	.footer-minor-content-container > * {
		margin-right: 10%;
	}

	.copyright-info {
		display: block;
	}

}