/* Done so that layout occupies the whole height of page */
html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "IBM Plex Sans";
}

/* Mobile first style is being used, so all
   rules following this comment are for the mobile version of the site.
   Desktop specific rules are found below the only media query of this file */

.grid-container {
	height: 100%;

	display: grid;
	grid-template-columns: repeat(6, minmax(30px, 1fr));
	grid-template-rows: repeat(12, 120px) minmax(min-content, max-content) minmax(min-content, max-content);

}

.grid-container > * {
	padding: 15px 30px 0px 30px;
}

.grid-center-item {
	grid-column: 1 / span 6;
}

.index-header {
	grid-row: 1 / span 6;
}

.assessment-panel {
	grid-row: 6 / span 5;
	border: solid 2px green;
}


.site-card-container {
	grid-row: 13 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site-card-container > * {
    margin-bottom: 50px;
}

.index-footer {
	grid-row: 14 / span 11;
	border: solid 2px yellow;
} 

.index-header, .index-footer {
	background: #8ECDCB;
}

.header-label-container {
  display: flex;
  flex-direction: row;
}

.header-label-container::before {
  content: '';
  display: block;
  background: url("comsat-icon.svg");
  width: 31px;
  height: 31px;
}

.index-header {
  align-items: center;
}

.section-label {
	font-weight: bold;
	margin-bottom: 30px;
}

.section-content::before {
	display: block;
	font-weight: bold;
	font-size: 1.35em;
}

.header-graphic {
	width: 475px;
}

.section-content.header::before {
	content: "Grade Calculator";
}

.section-content.footer::before {
	content: "About Grade Calculator";
}

.header-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.footer-content-container {
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
}

.footer-minor-content-container {
  display: flex;
  flex-direction: row;
}

.section-content.guides::before {
  content: "Guides";
}

.section-content.more-guides::before {
  content: "More Guides";
}

ul.section-content {
  list-style-type: none;
  padding: 0px;
}

.footer-minor-content-container > * {
  margin-right: 30%;
}

.soc-med-row > img {
	width: 30px;
}

.footer-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.copyright-info {
	display: none;
}

.microsite-card {
    min-width: 430px;
    max-width: 430px;
    position: relative;
    border-radius: 15px;
}

.microsite-card:hover  {
  	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.55);
  	transition: box-shadow 0.3s ease;
}

/* The simplebar JS library basically puts all the elements we use the library on in a div
of the class 'simplebar-content. If you want to change the CSS regarding the scrollable div,
use that class */
.simplebar-content > * {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.microsite-card-graphic-container {
    display: flex;
    justify-content: center;
    background: #8ECDCB;
    padding: 25px 19px 10px 19px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}



.microsite-card-text {
    background: #FFFFFF;
    padding: 9px 19px 25px 19px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}


.redirect-button {
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 161px;
    left: 77%;
    z-index: 2;
	background: #FFFF;
	transition: box-shadow 0.3s ease;
}

.redirect-button:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.55);
  transition: box-shadow 0.3s ease;
}


/* Desktop rules */
@media screen and (min-width: 852px) {
	.grid-container {
		grid-template-columns: repeat(6, 1fr);
 		grid-template-rows: repeat(8, 113px) minmax(min-content, max-content) minmax(min-content, max-content);
		padding: 40px 125px 50px 125px;
	}

	.grid-center-item {
		grid-column: 1 / span 6;
	}

	.index-header {
		grid-row: 1 / span 4;
		position: relative;
	}


	.assessment-panel {
		grid-row: 3 / span 6;
	}

	.site-card-container {
		grid-row: 9 / span 1;
		display: flex;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: auto;
		margin-bottom: 50px;
	}

	.simplebar-content {
	  grid-row: 9 / span 4;
	  display: flex;
	  flex-direction: row;
	  margin-bottom: 50px;
	  margin-bottom: 20px;
	}

	.simplebar-content > * {
		margin-right: 50px;
	}

	.site-card-container > * {
		margin-right: 41px;
		margin-bottom: 0px;
	}

	.index-footer {
		grid-row: 10/ span 1;
    	margin-top: 120px;
    	position: relative;
	}

	.index-header,
	.index-footer {
		border-radius: 16px;
	}

	.header-content-container {
		flex-direction: row;

		/* Default value */
		align-items: stretch;
	}

	.section-content.header {
		margin-left: 45px;
	}

	.header-graphic {
	    height: 440px;
	    margin-top: -90px;
	    width: 375px;
	}


	/* Multiline text truncating pulled 
	from this answer https://stackoverflow.com/a/19289287/11947966 */
	.section-content.footer {
		flex: 1;
		height: 250px;
		margin-right: 20%;
		display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	.footer-content-container {
		flex-direction: row;
	}

	.footer-minor-content-container {
		flex: 2;
	}

	.footer-minor-content-container > * {
		margin-right: 10%;
	}

	.copyright-info {
		display: block;
	}

	/* Use of pseudo elements to get the 'skewed' border for the 
	   footer. Footer had to be relatively positioned
	   for this to work */

	.index-footer::before {
	    content: '';
	    position: absolute;
	    background: inherit;
	    width: 100%;
	    height: 100%;
	    border-radius: inherit;
	    left: 0;
	    bottom: 3.9vw;
	    transform: skewY(-5deg);
	    z-index: -1;
	}

	/* Use of pseudo elements to get the 'skewed' border for the 
	   header. Header had to be relatively positioned
	   for this to work */

	.index-header:after {
		content: '';
		background: inherit;
		border-radius: inherit;
		top: 3.6vw;
		left: 0;
		transform:skewY(5deg);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}

}