html, body {
  margin: 0;
  padding: 0;
}

.icon-container{
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
  display: flex;
  align-items: baseline;
}

.left-icon{
  height: auto;
  background-color: #FAFAFA;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.right-icon{
  float: right;
}


.icon{
  position: inherit;
  width: 33.39px;
  height: 33.39px;
  left: 181.64px;
  top: 341.83px;
  display: flex;
  border-radius: 4px;
  margin: auto;
}

.square{
  position: inherit;
  width: 55.8px;
  height: 55.8px;
  left: 170.3px;
  top: 333.2px;
  display: flex;
  background: #663C67;
  border-radius: 3.62799px;
  margin: 15px;
}

.outer-circle{
  background: #93E1D8;
  box-shadow: 0px 9.05172px 18.1034px rgba(0, 0, 0, 0.15);
  width: 210px;
  height: 210px;
  border-radius: 100%;
  display: grid;
}

.inner-circle{
  background: #FAFAFA;
  box-shadow: 0px 9.05172px 18.1034px rgba(0, 0, 0, 0.15);
  color: #262424;
  width: 193.71px;
  height: 193.71px;
  border-radius: 100%;
  margin: auto;
  display: grid;
}

.inside-box{
  width: 123px;
  height: 141.95px;
  margin: auto;
  display: grid;
}

.letter-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 72.2202px;
  line-height: 80%;
  margin: auto;
  margin-bottom: 0;
  }

.number-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 27.0826px;
  line-height: 100%;
  margin: auto;
}

.final-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23.763px;
  line-height: 100%;
  margin: auto;
}
