html, body {
  margin: 0;
  padding: 0;
}

.big-box{
  width: 967px;
  height: 766px;
  position: relative;
}

.main-form{
  width: 967px;
  height: 669px;

  background: #FAFAFA;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/*icons*/
.icon-container{
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
  display: flex;
  align-items: baseline;
}

.left-icon{
  height: auto;
  background-color: #FAFAFA;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.right-icon{
  float: right;
}


.icon{
  position: inherit;
  width: 33.39px;
  height: 33.39px;
  left: 181.64px;
  top: 341.83px;
  display: flex;
  border-radius: 4px;
  margin: auto;
}

.square{
  position: inherit;
  width: 55.8px;
  height: 55.8px;
  left: 170.3px;
  top: 333.2px;
  display: flex;
  background: #663C67;
  border-radius: 3.62799px;
  margin: 15px;
}
/*center add new document*/
.add-doc{
  justify-content: center;
}

.no-assess{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21.0583px;
  line-height: 150%;

  text-align: center;

  color: #797979;
}

.create-new-assess{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21.0583px;
  line-height: 150%;

  text-align: center;

  color: #797979;
}

.btn btn-outline-secondary{
  text-align: center;
  width: 416.65px;
  height: 72.2px;
}

/*Final Grade Circle*/
.outer-circle{
  background: #93E1D8;
  box-shadow: 0px 9.05172px 18.1034px rgba(0, 0, 0, 0.15);
  width: 210px;
  height: 210px;
  border-radius: 100%;
  display: grid;
  position: absolute;
  bottom: 8px;
  left: 715px;
}

.inner-circle{
  background: #FAFAFA;
  box-shadow: 0px 9.05172px 18.1034px rgba(0, 0, 0, 0.15);
  color: #262424;
  width: 193.71px;
  height: 193.71px;
  border-radius: 100%;
  margin: auto;
  display: grid;
}

.inside-box{
  width: 123px;
  height: 141.95px;
  margin: auto;
  display: grid;
}

.letter-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 72.2202px;
  line-height: 80%;
  margin: auto;
  margin-bottom: 0;
  }

.number-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 27.0826px;
  line-height: 100%;
  margin: auto;
}

.final-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23.763px;
  line-height: 100%;
  margin: auto;
}
