html, body {
  margin: 0;
  padding: 0;
}

.big-box{
  width: 967px;
  height: 766px;
  position: relative;
}

.main-form{
  width: 882.7px;
  height: 655.2px;
  padding-top: 13.8px;
  padding-left: 42.3px;
  padding-right: 42px;
  background: #FAFAFA;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: auto;
}

/* the table*/
.assess-table table{
  width: 100%;
  text-align: center;
}

.assess-table th{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: #262424;

  height: 42px;
}

.assess-table tr{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #262424;
}

.assess-table td{
  height: 42px;
}

.assess-table .collapsible td{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #797979;
  text-indent: 1.5em;
  height: 30px;
}

.assess-table .collapsible .result-assessment{
  text-align: center;
  text-indent: 4em;
}

.course-assessment-name{
  text-align: left;
}

.triangle{
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}

.triangle.open{
  transform: rotate(90deg);
  transition: transform 0.1s linear;
}


.hover-cell{
  display: flex;
  float: right;
}

.result-assessment{
  text-align: right;
}

/*icons*/
.icon-container{
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.left-icon{
  height: auto;
  background-color: #FAFAFA;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.icon{
  position: inherit;
  width: 33.39px;
  height: 33.39px;
  display: flex;
  border-radius: 4px;
  margin: auto;
}

.assess-table a:hover {
  color: inherit;
  text-decoration: none;
}

#fillicon-container{
  margin-left: 0;
}

.right-icon .square{
  margin-right: 0;
}

.square{
  position: inherit;
  width: 55.8px;
  height: 55.8px;
  left: 170.3px;
  top: 333.2px;
  display: flex;
  background: #663C67;
  border-radius: 3.62799px;
  margin: 15px;
}

.hover-icon{
  display: flex;
  opacity:0;
}

.assess-table tr:hover .hover-icon{
  opacity: 1;
}

.tiny-square{
  width: 17.54px;
  height: 18.51px;
  background: #663C67;
  border-radius: 4px;

  position: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4.87px;
}

/*center add new document*/
.add-doc{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-assess{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21.0583px;
  line-height: 150%;

  text-align: center;

  color: #797979;
}

.create-new-assess{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21.0583px;
  line-height: 150%;

  text-align: center;

  color: #797979;
}

.btn-outline-secondary{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21.0583px;
  line-height: 150%;
  width: 416.65px;
  height: 72.2px;
  border: 1.805px solid #BDBABA;
  box-sizing: border-box;
  border-radius: 6.01666px;
}

/*Final Grade Circle*/
.outer-circle{
  background: #93E1D8;
  box-shadow: 0px 9.05172px 18.1034px rgba(0, 0, 0, 0.15);
  width: 210px;
  height: 210px;
  border-radius: 100%;
  display: grid;
  position: absolute;
  bottom: 8px;
  left: 715px;
}

.inner-circle{
  background: #FAFAFA;
  box-shadow: 0px 9.05172px 18.1034px rgba(0, 0, 0, 0.15);
  color: #262424;
  width: 193.71px;
  height: 193.71px;
  border-radius: 100%;
  margin: auto;
  display: grid;
}

.inside-box{
  width: 123px;
  height: 141.95px;
  margin: auto;
  display: grid;
}

.letter-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 72.2202px;
  line-height: 80%;
  margin: auto;
  margin-bottom: 0;
  }

.number-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 27.0826px;
  line-height: 100%;
  margin: auto;
}

.final-grade{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23.763px;
  line-height: 100%;
  margin: auto;
}

/*grade boundaries modal*/
.grade-boundary-modal{
  background: #F6F6F6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 782px;
  height: 959px;
}

.grade-boundary-header{
  width: 782px;
  height: 98px;
  left: 0px;
  top: 0px;
  background: #403E3E;
}

.grade-boundary-header h1{
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36.2105px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 50px;
  top: 30px;
  margin: 0;
}

.grade-boundary-header img{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 702px;
  top: 34px;
}

.btn-reset{
  position: absolute;
  width: 92px;
  height: 37px;
  left: 636px;
  top: 119px;

  background: #403E3E;
  border-radius: 3.02646px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  color: #F6F6F6;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-reset p{
  margin: 0;
  padding: 0;
}

.btn-reset img{
  height: 19px;
}

.letter-block-container{
  display: flex;
  height: 575px;
  width: 630px;
  justify-content: space-between;
  margin: auto;
  flex-flow: row wrap;
  position: relative;
  top: 79px;
}

.letter-block{
  width: 246.18px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter h1{
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #797979;
  margin:0;
}

.modifygradeB{
  width: inherit;
  height: 40px;
  display: flex;
}

.gradeRange{
  width: 55.32px;
  height: 35.96px;
  background: #E4DFDF;
  margin:0;
}

.gradeRange p{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26.1966px;
  line-height: 150%;
  text-align: center;
  color: #797979;
  margin: 0;
}

.gradeLine{
  width: 96.82px;
  height: 0px;
  border: 1.38305px solid #E4DFDF;
  background-color: #E4DFDF;
  margin: 16.6px 0;
}

.gradeBicons{
  width: 16.6px;
  height: 35.96px;
  display: block;
  margin: 0 2.77px;
}

.gradeBicons img{
  margin-bottom: 2.77px;
  width: 16.6px;
  height: 16.6px;
}

.range-error{
  border-bottom: 3px solid #E06666;
}

.invalid-range{
  margin: 0;
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 175%;
  color: #E06666;
  transform: rotate(-0.4deg);
}

.btn-bigmodal{
  position: absolute;
  width: 528px;
  height: 94px;
  left: 127px;
  top: 811px;

  background: #403E3E;
  border-radius: 4px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32.2824px;
  line-height: 150%;
  text-align: center;
  color: #F6F6F6;
}

.modal-window {
    visibility: hidden;
    display: flex;
    position: fixed;
    height: 100%;
    width: 967px;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
    justify-content: center;

    transition: visibility 0.2s;
}

.modal_content {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 800px;
  height: auto;

  bottom: 0px;

  opacity: 1;

  background: #DCDCDC;
  border-radius: 3px;

  transition: opacity 0.5s, bottom 0.5s;
}

.modal_inactive {
  opacity: 0;
  bottom: 50px;
  z-index: -1;
}

.modal_header {
  width: 100%;
  flex: 2;
  background: #67647E;

  display: flex;
  align-items: center;

  font-size: 26px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  color: white;

  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px 3px 0px 0px;
}

.close_modal_btn:hover {
  cursor: pointer;
}

.close_modal_btn > img {
  width: 27px;
  height: 27px;
}

.modal_padding {
  padding-left: 50px;
  padding-right: 50px;
}

.modal_component_form {
  width: 100%;
  flex: 17;

  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;

  flex-direction: column;
}

.modal_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  position: relative;
}

.component_primary_information_row {
  display: flex;
  flex-direction: row;

  position: relative;

  width: 100%;
  height: 83px;

  margin-bottom: 15px;

  font-weight: bold;
  font-size: 1.5em;
}

.component_primary_information_row > .input_wrapper > input {
  background: transparent;
}

.component_primary_information_row > :last-child {
  flex: 2;
}

.component_primary_information_row > :first-child {
  flex: 8;
  margin-right: 20px;
}

.component_primary_information_row > :first-child > .placeholder {
  margin-left: -12px;
}

.component_primary_information_row > :last-child > .placeholder {
  margin-left: -14px;
  margin-top: -2px;
}

.component_primary_information_row > :last-child > .input_suffix:before {
  margin-top: -3px;
}




.component_row {
  display: flex;
  flex-direction: row;
  background: transparent;
  width: 100%;

  margin-bottom: -4px;
}

.component_row *:first-child {
  flex: 5;
}

.component_row *:not(:first-child):not(btn) {
  flex: 2;
}


.component_row * {
  background: transparent;
}

.component_row *:not(:last-child) {
  margin-right: 10px;
}

.input_component.percentage:focus ~ .input_suffix:before,
.input_component.percentage:valid ~ .input_suffix:before {
  color: black;
}

.primary:focus ~ .placeholder,
.primary:valid ~ .placeholder {
  top: -75%;
}

.input_wrapper {
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
}

.input_suffix.percentage {
  position: absolute;
  left: 80%;
  bottom: 88%;
}
.input_suffix.percentage:before {
  content: '%';
  position: absolute;
  color: transparent;

  transition: color 0.2s;
}

.input_component {
  border-style: solid;
  border-width: 2px;
  border-color: #67647E;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.form_row_container {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding-top: 5px;

}

.input_component.name {
  padding-left: 17px;
}
.input_component:not(.name) {
  text-align: center;
}


input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_component.letter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}

.input_component.letter >:first-child {
  display: none;
}

.placeholder {
  position: relative;
  z-index: 1;
  top: -50%;
  pointer-events: none;
  font-size: 0.85em;

  background: #DCDCDC;

  transition: 0.2s;
  display: inline-block;

  padding-left: 3px;
  padding-right: 3px;

  text-align: center;
}

.placeholder.name {
  left: 5%;
}

.placeholder:not(.name):not(.numerical_result) {
  left: 17%;
}

.placeholder.numerical_result {
  left: 5%;
  font-size: 0.75em;
}

.input_component:focus ~ .placeholder,
.input_component:not(:focus):valid ~ .placeholder
 {
  font-size: 0.75em;
}

.input_component:invalid {
  box-shadow: none;
  -moz-box-shadow: none;
}


.input_component:focus:not(.primary) ~ .placeholder,
.input_component:not(:focus):not(.primary):valid ~ .placeholder {
  top: -80%;
}


.input_component:not(.numerical_result):not(.name):not(.primary):focus ~ .placeholder,
.input_component:not(.numerical_result):not(.name):not(.primary):not(:focus):valid ~ .placeholder
 {
  left: 12%;
}

.input_component.numerical_result:focus ~ .placeholder,
.input_component.numerical_result:not(:focus):valid ~ .placeholder {
  left: 5%;
}

.add_component_btn {
  margin-top: 35px;
  background: rgba(102, 99, 125, 0.9);


  display: flex;
  align-items: center;
  justify-content: center;

  width: 350px;
  height: 75px;

  color: white;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.7em;
}

.add_component_btn:hover {
  cursor: pointer;
}
.input_suffix.percentage:before {
  margin-top: 5px;
}

.minor_assessment_btn {
  display: flex;
  justify-content: center;
  border: 3px dashed #B3B3B3;
  border-radius: 21px;
  padding: 15px 0px 15px 0px;
  color: #797979;
  font-family: "IBM Plex Sans";
  align-items: center;
}

.minor_assessment_btn:hover {
  cursor: pointer;
}

.plus-btn {
  margin-right: 15px;
}


.close_row_img {
  margin-top: 15px;
}

.component_row:not(:first-of-type):hover > .close_row_btn {
  visibility: visible;
  opacity: 1;
}

.component_row {
  padding-right: 10px;
}

.close_row_btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}

btn:hover {
  cursor: pointer;
}

.error_text {
  position: absolute;
  left: 10px;
  color: #E06666;
  font-weight: bold;
}

.error_text.minor {
  font-size: 0.9em;
  top: 75%;
}

.component_row {
  padding-bottom: 30px;
}

.input_autocomplete {
  position: absolute;
  border-style: none;
  width: calc(100% - 10px);
  bottom: 28.5%;
  height: 50px;
  z-index: 0;
  text-align: center;
  left: 8.3%;
}

.input_component.numerical_result {
  z-index: 1;
  position: relative;
}

.error_text.major {
  top: 60%;
  font-size: 0.8em;
}

.input_component.letter {
  font-size: 0.85em;
}

.input_wrapper.name {
  min-height: 70.4px;
}
